<div id="modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2 id="modal-title" class="modal-title">Modal Title</h2>
            <button id="modal-close" class="modal-close">×</button>
        </div>
        <div id="modal-content">
            Modal content goes here
        </div>
    </div>
</div>